.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}

.login > a {
  padding: 20px;
  background-color: #1db954;
  border-radius: 99px;
  font-weight: 800;
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .login > img {
    width: 100%;
  }
  .login > a {
    margin-bottom: 100px;
  }
}
